<nav>
    <div class="nav-wrapper white darken-2">
        <div class="container">
            <a href="/" class="brand-logo"><img class="npr-logo" src="/img/npr-logo.svg" /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><b><a class="view-saved nav-link" href="/saved">Saved articles</a></b></li>
                <li><b><a class="scrape nav-link">Scrape NPR Music</a></b></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="hero center card">
        <div class="card-content">
        <img src="/img/npr-music.png" alt="" class="npr-music-img responsive-img">
        <h1 class="center"><span class="word-1">mongo</span> <span class="word-2">music</span> <span class="word-3">scraper</span></h1>
        </div>
    </div>

    <div class="row all-articles">


    </div>
</div>