<div class="container">
    <h1>MongoScraper</h1>
    <button class="btn scrape">Scrape Articles</button>
    <a href="/saved"><button class="btn view-saved">View Saved Articles</button></a>

    <div class="row all-articles">
        

    </div>
</div>

