<div class="container">

    <h1>Saved articles</h1>
    <div class="row saved-articles">
        {{#each articles}}
        <a href={{link}}>
            <h3>{{title}}</h3>
        </a>
        <p>{{teaser}}</p>
        {{/each}}
    </div>


</div>